@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import url('https://fonts.googleapis.com/css?family=Muli');


:root /*Variables*/
{
	--main-theme: Goldenrod;/*Crimson;*/
	--secondary-color: #606060;
} 

div#product-shelf-placeholder
{
	font-family: 'Montserrat', serif;	
}

#product-shelf-placeholder a:nth-child(odd){
 clear:left;
}

.price
{
	/*font-family: Verdana, serif;	*/
	font-family: Muli, serif;
	letter-spacing:	2px;
	color: var(--main-theme);
	font-weight: bold;
}



@media only screen and (min-width: 601px) {
	.my-product{
		margin-left: 1%;
	}
}

