/* We will use a table to store each item in the store*/
:root /*Variables*/
{
	--main-theme: Goldenrod;/*Crimson;*/
	--home-button: #C0C0C0;
}

.entry input.ng-touched {
	
  
 }
 
 .entry input.ng-invalid.ng-touched {
	
 }
 
 .animate-height{
	transition: all 1s;
	height: 50vh;
	overflow:hidden;
}

.animate-height.ng-hide{
	height:0;
}

.animate-height.ng-add{
	height:50vh;
}


 .animate-address{
	transition: all 1s;
	max-height: 60vh;
	overflow: hidden;
}

.animate-address.ng-hide{
	max-height:0;
}

.animate-address.ng-add{
	max-height:60vh;
}