/* This css will control appearance of tables in basket and order confirmation */
table{
	    border-collapse: separate;
		border-radius: 2vw;
		border-top: 0.3vw solid black;
		border-bottom: 0.3vw solid black;
		padding: 1vw 0 1vw 0; 
}


td,th  {
	text-align: center;
	text-align: left;
	padding: 1vw;
	border-radius: 2vw 1vw;
}

th{
	color: white;
	background-color: #006F00;
	height: 2vw;
	text-align: center;
}
td
{
	border: 0.2vw solid #006F00;
}



div#formDetails
{
	font-size: 1.5vw;
	background-color: #006F00;
	color: white;
	width: 50%;
	padding: 1vw 2vw;
	border-radius: 1vw 3vw;	
}

form#detailsSubmit
{
	margin-top: 1vw;
	border: 0.2vw solid black;
	border-radius: 2vw;
	padding: 1vw;
	opacity: 0;
	transition: opacity 2s linear;
	-webkit-transition: opacity 2s linear;
}

.preview_img
{
	height: 3vw;
	width: auto;
	margin-left: 1vw;
}

