/* We will use a table to store each item in the store*/
@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import url('https://fonts.googleapis.com/css?family=Muli');

:root /*Variables*/
{
	--main-theme: Goldenrod;/*Crimson;*/
	--home-button: #C0C0C0;
}


.price
{
	/*font-family: Verdana, serif;	*/
	font-family: Muli, serif;
	color: var(--main-theme);
	font-weight: bold;
}

.more-info
{
	cursor:pointer;
}

#description img{
	width:70%;
}

/*Fixing sizing for accessories*/

div#accessories {
	white-space: nowrap;
overflow-x: scroll;	
	
}

div#accessories > div{
	width: 30%;	
}

@media only screen and (min-width: 601px) {
	div#accessories {
		overflow: hidden;	
}
    div#accessories > div{
	width: 15%;	

}

	
	
}