<!DOCTYPE html>
<html lang="en">
<head>
<title> Yati-Trend | Basket</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/jpeg" href="/images/logo.jpg">

<link rel="stylesheet" href="/css/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/v2/normalize.css"/>
<link rel="stylesheet" href="/css/v2/common.css"/>
<link rel="stylesheet" href="/css/v2/categories.css"/>
<link rel="stylesheet" href="/css/v2/basket.css"/>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131830139-1"></script>
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=780727239050016&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="/scripts/v2/common.js" ></script>
<script src="/scripts/v2/shop.js" ></script>
<script src="/scripts/v2/basket.js" ></script>
<script src="/scripts/v2/directives/directives.js" ></script>
</head> 

<body>

<header id="header_placeholder"> </header>
<div id="product_shelf_placeholder" class="" ng-app="myApp" ng-controller="Basket">
	<div ng-hide="order.Items.length==0 || order==null" class="w3-xlarge w3-center w3-margin-top" style="font-weight: bold">Your Basket</div>
	<div ng-show="(order.Items.length==0 || order==null) && !backbone.loading" class="w3-xlarge w3-center w3-margin-top" style="font-weight: bold">Your basket is empty</div>

<!--Loading container to show page is loading when fetching data -->
<div ng-show="backbone.loading" class="w3-container w3-center">
	<img src="/images/loading_transparent.gif"/>
</div>
	
<div class="w3-row" ng-hide="order.Items.length==0 || order==null">

<!--Currency chooser  -->
<div class="w3-large  w3-hide-small w3-margin">
	<span class="w3-white w3-padding w3-round-large hoverable">
		<span class="button" onclick="Shop_updateCurrency('HUF')" ng-class="{'w3-tag w3-main-theme':currency=='HUF'}">HUF</span> | 
		<span class="button" onclick="Shop_updateCurrency('EUR')" ng-class="{'w3-tag w3-main-theme':currency=='EUR'}">EURO</span>
	</span>
</div>

<div class="w3-large w3-center w3-hide-large w3-hide-medium w3-margin">
	<span class="w3-white w3-padding w3-round-large hoverable">
		<span class="button" onclick="Shop_updateCurrency('HUF')" ng-class="{'w3-tag w3-main-theme':currency=='HUF'}">HUF</span> | 
		<span class="button" onclick="Shop_updateCurrency('EUR')" ng-class="{'w3-tag w3-main-theme':currency=='EUR'}">EURO</span>
	</span>
</div>

	<div class="w3-col l6 w3-padding">
		<div ng-repeat="item in order.Items" class="w3-row w3-card w3-margin-top w3-padding" style="width: 100%; height:20vh;overflow:hidden;">
				<div class="w3-col s3 m2 l2 " style="height:18vh; overflow: hidden;">
					<img class="preview_img" ng-src="{{item.Image.src}}/{{item.Image.names[0]}}"style="width:95%; height:auto;"></img>
				</div>
				<div class="w3-display-container w3-col s9 m10 l10 " style="height:15vh;">
					<div id="description" class="w3-display-topmiddle w3-center" style="font-size: 1em;width:100%;">{{item.Description.en}}</div>
					<div ng-if="item.Variants.hasVariants" id="size" class="w3-display-left">Size: {{item.Variants.chosenVariant}}</div>
					<div id="quantity" class="w3-display-bottomleft " style="height: 2vw;">
						<span ng-click="changeQuantity($index,-1)" class="w3-black w3-round w3-padding w3-hover-grey hoverable">-</span>
						<span class="w3-padding">{{item.Quantity}}</span>
						<span ng-click="changeQuantity($index,1)" class="w3-black w3-round w3-padding w3-hover-grey hoverable">+</span>
					</div>
					<div my-cost-str="item.Price[currency.toLowerCase()] * item.Quantity" id="price" class="w3-display-right price theme-color"></div>
					<div id="remove" ng-click="removeItem($index)" class="w3-display-bottomright hoverable" Style="text-decoration: underline">Remove</div>
				</div>		
		</div>
	</div>
	<div class="w3-col l6 w3-padding w3-mobile">
		<div ng-hide="order.length==0">
			<select class="w3-padding w3-margin-top w3-large" ng-model="shopping.contact.country" ng-change="updateDeliveryCost();shopping.deliveryMethod='GLSDelivery'" 
			style="width:100%;">
							<option value="default">Choose Country for delivery cost</option>
							<option value="Hungary">Hungary</option>
							<option value="Germany">Germany</option>
							<option value="Austria">Austria</option>
							<option value="UK">United Kingdom</option>
			</select>
						
			
			<div ng-hide="shopping.contact.country =='default'" class="w3-white w3-padding-top w3-margin-top">
			
			
			<div ng-if="order.Discount==null" >
				<span> Enter your discount code here </span> <br>
				<!-- ccs code for button contained in basket.css -->
				<input id= "discount-input" class="w3-large" ng-model="discounts.code"/>
				<button id="discount-button" ng-disabled="discounts.code.length<5" ng-click="applyDiscount(discounts.code)" 
				class=" w3-button w3-black w3-hover-grey">Apply Code</button>					
			</div>				
			<div class="w3-text-red w3-container" ng-show="discounts.code.length==0 && discounts.showError">Discount code is not valid</div>
			<div class="w3-text-green w3-container" ng-show="discounts.showSuccess">Discount code successfully applied </div>
			<div class="w3-container w3-stretch" >
				<form ng-show="shopping.contact.country=='Hungary'" name="deliveryMethod" class="w3-margin-top">
				<div class="w3-large"><b>Choose a courier</b></div>
				  <label>
					<input type="radio" ng-model="shopping.deliveryMethod" value="FoxpostPickup" class="w3-radio">
					<img src="/images/foxpost.jpg" alt="Foxpost logo" style="height:30px"/>Foxpost Pickup (<b my-cost-str="order.Costs.FoxpostPickup.delivery"></b>)
				  </label><br/>
				  <label>
					<input type="radio" ng-model="shopping.deliveryMethod" value="FoxpostDelivery" class="w3-radio">
					<img src="/images/foxpost.jpg" alt="Foxpost logo" style="height:30px"/>Foxpost Home Delivery (<b my-cost-str="order.Costs.FoxpostDelivery.delivery"></b>)
				  </label><br/>
				  <label ng-hide="order.Costs[shopping.deliveryMethod].delivery==0">
					<input type="radio" ng-model="shopping.deliveryMethod" value="GLSDelivery" class="w3-radio">
					<img src="/images/gls.jpg" alt="Foxpost logo" style="height:30px"/>GLS Home Delivery (<b my-cost-str="order.Costs.GLSDelivery.delivery"></b>)
				  </label><br/>
				</form>
				<div class="w3-large w3-margin-top ">SubTotal: <span my-cost-str="order.Costs[shopping.deliveryMethod].subTotal" class="price" ></span></div>
				<div ng-if="order.Discount!=null" class="w3-large">Discount: <span my-cost-str="order.Costs[shopping.deliveryMethod].discount*-1" class="price"></span></div>
				<div class="w3-large ">Delivery: <span my-cost-str="order.Costs[shopping.deliveryMethod].delivery" class="price" ></span></div>				
				<div class="w3-xlarge w3-margin-top ">Total: <span my-cost-str="order.Costs[shopping.deliveryMethod].total" class="price-total"></span></div>
			</div>
				<a class="w3-button w3-black w3-round w3-large w3-margin-top w3-padding" href="checkout.html">Proceed to Checkout</a>
			</div>
		</div>
	</div>
</div>


</body>
</html>