<!DOCTYPE html>
<html lang="en">
<head>
<title> Yati-Trend | Legal Information </title>
<meta charset="UTF-8">
<link rel="icon" type="image/jpeg" href="/images/logo.jpg">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/css/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="/css/normalize.css"/>
<link rel="stylesheet" href="/css/common.css"/>
<link rel="stylesheet" href="/css/help.css"/>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131830139-1"></script>
<script src="/scripts/common.js" ></script>
<script src="/scripts/shop.js" ></script>
<script src="/scripts/help.js" ></script>

<style>
h1{
 font-size:1.8em !important;
 font-weight: bold !important;
}
p{
 font-size:1em !important;

}

</style>

</head> 

<body ng-app="myApp" ng-controller="Help">
 <header id="header_placeholder"> </header>

	<div ng-click="content.showInfo=true;content.info='general-terms'" class=" w3-padding w3-margin-top w3-center heading" >General Terms & Conditions</div>
	
	<div ng-click="content.showInfo=true;content.info='privacy-policy'" class=" w3-padding w3-center heading">Privacy Policy</div>
			
	<div ng-click="content.showInfo=true;content.info='shipping'" class=" w3-padding w3-center heading">Shipping & Delivery</div>
		
	<div ng-click="content.showInfo=true;content.info='price-and-payment'" class=" w3-padding w3-center heading">Price and Payment</div>
	
	<div ng-click="content.showInfo=true;content.info='contact-us'" class=" w3-padding w3-center heading">Contact Us</div>

	<div ng-click="content.showInfo=true;content.info='returns'" class=" w3-padding w3-center heading">Returns & Exchanges</div>	
	
	<div ng-click="content.showInfo=true;content.info='size-chart'" class=" w3-padding w3-center heading">Size Chart</div>

	<div ng-click="content.showInfo=true;content.info='faq'" class=" w3-padding w3-center heading">FAQs</div>
	

	<div class="w3-modal " ng-show="content.showInfo==true" style="display:block;z-index:1000;padding-top:7vh">
	 <span ng-click="content.showInfo=false" class="material-icons w3-xxlarge w3-text-white" style="z-index:1000;cursor:pointer;position:fixed;top:0vw;right:2vw">cancel</span>
		<div class="w3-modal-content w3-animate-top w3-card-4 w3-round " style="overflow-y:auto;overflow-x:hidden;width:100%;max-height:95%">

		  <div ng-if="content.info=='general-terms'" class="w3-container links">
			<div ng-include="'legal/general_terms.html'"></div>
		  </div>
		  <div ng-if="content.info=='privacy-policy'" class="w3-container links">
			<div ng-include="'legal/privacy_policy.html'"></div>
		  </div>
			<div ng-if="content.info=='shipping'" class="w3-container links">
			<div ng-include="'legal/shipping.html'"></div>
		  </div>
		  <div ng-if="content.info=='price-and-payment'" class="w3-container links">
			<div ng-include="'legal/price_and_payment.html'"></div>
		  </div>
		  <div ng-if="content.info=='contact-us'" class="w3-container links">
			<div ng-include="'legal/contact_us.html'"></div>
		  </div>
		   <div ng-if="content.info=='returns'" class="w3-container links">
			<div ng-include="'legal/returns.html'"></div>
		  </div>
		  <div ng-if="content.info=='size-chart'" class="w3-container links">
			<div style="overflow-x:auto">
			<h1> Size Chart </h1>
				<table class="w3-table w3-striped">
				<tr><th>Size</th><th>Height(cm)</th><th>Bust(cm)</th><th>Waist(cm)</th><th>Hips(cm)</th></tr>
				<tr><td>S</td><td>162-168</td><td>88</td><td>66</td><td>92</td> </tr>
				<tr><td>M</td><td>166-172</td><td>92</td><td>70</td><td>96</td> </tr>
				<tr><td>L</td><td>173-176</td><td>96</td><td>74</td><td>100</td> </tr>		
				</table>
			</div>
		  </div>
		   <div ng-if="content.info=='faq'" class="w3-container links">
			<div ng-include="'legal/FAQ.html'"></div>
		  </div>
		 
			
		
		</div>
	</div>	 
			
	
	

</body>

</html>