@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import url('https://fonts.googleapis.com/css?family=Muli');


:root /*Variables*/
{
	--main-theme: Goldenrod;/*Crimson;*/
	--secondary-color: #606060;
} 

div#product-shelf-placeholder
{
	font-family: 'Montserrat', serif;	
}

#product-shelf-placeholder .accessory-sizing:nth-child(3n+1) {
 clear:left;
}
#product-shelf-placeholder .normal-sizing:nth-child(odd) {
 clear:left;
}
/* For large screens, we will display three items per row for accessories */
.accessory-sizing{
	width:32%; 
}
.normal-sizing{
	width:48.5%; 
}

.price
{
	/*font-family: Verdana, serif;	*/
	font-family: Muli, serif;
	letter-spacing:	2px;
	font-weight: bold;
}

.theme-color{
		color: var(--main-theme);	
}



@media only screen and (min-width: 601px) {
	.my-product{
		margin-left: 1%;
	}
}

