<!DOCTYPE html>
<html lang="hu">
<head>
<title> Yati-Trend | Vásárlási kategóriák </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/jpeg" href="/images/logo.jpg">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<link rel="stylesheet" href="/css/normalize.css"/>
<link rel="stylesheet" href="/css/common.css"/>
<link rel="stylesheet" href="/css/categories.css"/>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131830139-1"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular-sanitize.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
<script type="text/javascript" src="/slick/angular-slick.js"></script>
 
<script src="/scripts/common.js" ></script>
<script src="/scripts/shop.js" ></script>
<script src="/scripts/categories.js"></script>
<script src="/scripts/directives/directives.js" ></script>
</head> 

<body ng-app="myApp" ng-controller="Categories">

<header id="header_placeholder"> </header>
<div id="privacy_placeholder"></div>

<div id="category-name" class="w3-xxlarge w3-center w3-white"></div>

<!--Currency chooser  -->
<div class="w3-large  w3-hide-small w3-margin w3-center">
	<span class="w3-white w3-padding w3-round-large hoverable">
		<span class="button" onclick="Shop_updateCurrency('HUF')" ng-class="{'w3-tag w3-main-theme':currency=='HUF'}">HUF</span> | 
		<span class="button" onclick="Shop_updateCurrency('EUR')" ng-class="{'w3-tag w3-main-theme':currency=='EUR'}">EURO</span>
	</span>
</div>

<div class="w3-large w3-center w3-hide-large w3-hide-medium w3-margin">
	<span class="w3-white w3-padding w3-round-large hoverable">
		<span class="button" onclick="Shop_updateCurrency('HUF')" ng-class="{'w3-tag w3-main-theme':currency=='HUF'}">HUF</span> | 
		<span class="button" onclick="Shop_updateCurrency('EUR')" ng-class="{'w3-tag w3-main-theme':currency=='EUR'}">EURO</span>
	</span>
</div>

<div class="w3-container w3-margin w3-center">
	<select class=" w3-border w3-padding w3-xlarge w3-mobile w3-center w3-border-black " style="width:20%"
		  ng-options="option[backbone.lang] for option in categoryOptions.availableOptions track by option.value"
		  ng-model="categoryOptions.selectedOption" ng-change="changeSubCat()">
	</select>
</div>

<!--Loading container to show page is loading when fetching data -->
<div ng-show="backbone.loading" class="w3-container w3-center">
	<img src="/images/loading_transparent.gif"/>
</div>


<div id="product-shelf-placeholder" class="w3-container" style="padding:0;margin:0" >
	<a ng-repeat="product in products | filter: myFilter" href="{{product.href}}" class="w3-left w3-center w3-large w3-mobile my-product" style="width:48.5%; margin-top:2vh;cursor:pointer">
		<div ng-if="product.numberOfImages<=1" style="width:100%; height:65vh; overflow-y:hidden;">
				<img class="shop_img w3-center" lazy-load="{{product.Image.src}}/{{product.Image.names[0]}}" style="width:auto; height:100%;"></img> 
		</div>
		<slick ng-if="product.numberOfImages>1" settings="slickConfig" my-image-sizer>
			<div style="width:100%;overflow-y:hidden;">
				<img class="shop_img " lazy-load="{{product.Image.src}}/{{product.Image.names[0]}}" style="width:100%; height:auto;"></img> 
			</div>
			<div  style="width:100%;overflow-y:hidden;">
				<img class="shop_img w3-center" lazy-load="{{product.Image.src}}/{{product.Image.names[1]}}" style="width:100%; height:auto;"></img> 
			</div>
		</slick>
		<div class="description w3-padding">{{product.description}}</div>
		<div my-cost-str="product.price[currency.toLowerCase()]" class="price w3-padding theme-color"></div>
	</a>
</div>

<footer ng-include="'footer.html'" class="w3-margin-top"></footer>

</body>
</html>