<!DOCTYPE html>
<html lang="hu">
<head>
<title> Yati-Trend | Kapcsolat</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/jpeg" href="/images/logo.jpg">
<meta charset="utf-8"/>

<link rel="stylesheet" type="text/css" href="../css/w3.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 <!-- Global site tag (gtag.js) - Google Analytics -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131830139-1"></script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('consent', 'grant');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=780727239050016&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<link rel="stylesheet" href="/css/v1/normalize.css"/>
<link rel="stylesheet" href="/css/v1/common.css"/>
<link rel="stylesheet" href="/css/v1/contact.css"/>

<script src="/scripts/v1/common.js" ></script>
<script src="/scripts/v1/shop.js" ></script>
<script src="/scripts/v1/contact.js" ></script>

</head> 

<body>

<header id="header_placeholder"> </header>
<div id="privacy_placeholder"></div>

<div id="product_shelf_placeholder" class="w3-container w3-margin-top" ng-app="myApp" ng-controller="Contact" ng-init="formSubmitted=false">
	

	<div class="w3-row">
	<form class="w3-mobile w3-col w3-white l7 m9 w3-padding w3-card-4" name="form1" ng-hide="formSubmitted" novalidate class="entry">
		<div class="w3-large w3-center" ><b>Kapcsolat</b></div>
		
		<input type="text" class="w3-input" name="name" ng-model="user.name" required placeholder="Név"  autocomplete="name"/>
		<span class="w3-text-red" ng-show="form1.name.$touched && form1.name.$invalid">Név megadása szükséges</span>
		
		<input type="email" class="w3-input" name="email" ng-model="user.email" placeholder="Email" required  autocomplete="email"/>
		<span class="w3-text-red" ng-show="form1.email.$touched && form1.email.$invalid">E-mail megadása szükséges</span>
		
		<br>Megjegyzés: Max, hosszúság ({{user.comments.length}}/500)<br>
		<textarea type="text" style="width:100%" rows="5" name="comment" ng-model="user.comments" maxlength="500" required></textarea>
		<span class="w3-text-red" ng-show="form1.comment.$touched && form1.comment.$invalid">Megjegyzés megadása szükséges</span>
		<br>
		<button ng-click="formSubmitted=true;sendRequest()" ng-disabled="form1.$invalid" style="background-color: var(--main-theme)"
		class="w3-button w3-margin-bottom w3-padding w3-mobile">
			Küldés
		</button>	

	</form>
	
	</div>
	
	<div class="w3-row ">
	
		<div ng-show="formSubmitted" class="w3-medium w3-col l7 m9 w3-padding w3-white w3-card-4">
			<b>Köszönjük. Hamarosan jelentkezünk.</b>
		</div>
	
	</div>

</div>

</body>
</html>