<!DOCTYPE html>
<html lang="en">
<head>
<title> Yati-Trend | Legal Information </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/css/categories.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/normalize.css"/>
<link rel="stylesheet" href="/css/common.css"/>


<script src="/scripts/common.js" ></script>
<script src="/scripts/shop.js" ></script>
<script src="/scripts/help.js" ></script>

<style>
.heading
{
	text-decoration: underline;
	text-decoration-color: Goldenrod;
	cursor:pointer;
}
.links a{
 text-decoration: underline;

}

</style>

</head> 

<body ng-app="myApp" ng-controller="Help">
 <div id="header_placeholder"> </div>

	<div ng-click="content.showInfo=true;content.info='about'" class=" w3-padding w3-margin-top w3-center heading" >Rólunk</div>
	
	<div ng-click="content.showInfo=true;content.info='introduction'" class=" w3-padding w3-center heading">Bevezetés</div>
	
	<div ng-click="content.showInfo=true;content.info='our-details'" class=" w3-padding w3-center heading">Adataink</div>
		
	<div ng-click="content.showInfo=true;content.info='shipping'" class=" w3-padding w3-center heading">Szállítás és kézbesítés</div>
		
	<div ng-click="content.showInfo=true;content.info='price-and-payment'" class=" w3-padding w3-center heading">Ár és fizétési módok</div>
	
	<div ng-click="content.showInfo=true;content.info='returns'" class=" w3-padding w3-center heading">Áruvisszaküldés és csere</div>

	<div ng-click="content.showInfo=true;content.info='products-and-quality'" class=" w3-padding w3-center heading">Termékek szavatossága</div>	
	
	<div ng-click="content.showInfo=true;content.info='size'" class=" w3-padding w3-center heading">Mérettáblázat</div>
		
	<div ng-click="content.showInfo=true;content.info='use-of-our-website'" class=" w3-padding w3-center heading">A weboldal felhasználása</div>
	
	<div ng-click="content.showInfo=true;content.info='liability'" class=" w3-padding w3-center heading">Kötelezettségek/felelősségek</div>
	
	<div ng-click="content.showInfo=true;content.info='property-rights'" class=" w3-padding w3-center heading">Tulajdon jogok védelme</div>
	
	<div ng-click="content.showInfo=true;content.info='comments-and-suggestions'" class=" w3-padding w3-center heading"> Ötletek és javaslatok</div>
	
	<div ng-click="content.showInfo=true;content.info='contract'" class=" w3-padding w3-center heading">Általános Szerződési Feltételek. (ÁSZF)</div>
	
	<div ng-click="content.showInfo=true;content.info='use-of-personal-data'" class=" w3-padding w3-center heading">Adatvédelmi tájékoztató</div>
	
	<div class="w3-modal " ng-show="content.showInfo==true" style="display:block;z-index:1000;padding-top:7vh">
	 <span ng-click="content.showInfo=false" class="material-icons w3-xxlarge w3-text-white" style="z-index:1000;cursor:pointer;position:fixed;top:0vw;right:2vw">cancel</span>
		<div class="w3-modal-content w3-animate-top w3-card-4 w3-round " style="overflow:auto;width:100%;max-height:95%">
		  <div ng-if="content.info=='about'" class="w3-container links">
			This is just a test
		  </div>
		  <div ng-if="content.info=='our-details'" class="w3-container links">
			 <div class="w3-xlarge bold w3-center underlined">Our Details</div>
			<div>
				<strong>Cégnév:</strong> Yati-Trend <br>
				<strong>Üzemeltető:</strong> Adugu-Horváth Patrícia (egyéni vállalkozó) <br>
				<ul>
					<li><strong>Székhely:</strong> 2030 Érd Törökbálinti út 51. <br></li>
					<li><strong>Adószám:</strong> 69312500-1-33 <br></li>
					<li><strong>Nyilvántartási szám:</strong> 53001328 <br></li>
					<li><strong>Kamarai nyilvántartási szám:</strong> PE69312500 <br></li>
					<li><strong>Szerződés nyelve:</strong> magyar <br></li>
					<li><strong>Elektronikus elérhetőség:</strong> info@yati-trend.com <br></li>
					<li><strong>Telefonos elérhetőség:</strong> +36 30 747 7044 <br></li>
					<li><strong>Adatvédelmi nyilvántartási azonosító:</strong> Regisztrálj NAIH azonosítót! <br></li>
					<li><strong>Nyilvántartásba vevő hatóság</strong>??? <br></li>
					<li><strong>Kamara:</strong> Pest Megyei és Érd Megyei Jogú Városi Kereskedelmi és Iparkamara <br></li>
					<li><strong>Számlaszám:</strong> 11773425-04061935 <br></li>
				</ul>
			</div>
		  </div>
		  <div ng-if="content.info=='shipping'" class="w3-container links">
		  <div class="w3-xlarge bold w3-center underlined">Shipping And Delivery</div>
			<div>
				A csomagokat a <u>DPD futárszolgálat</u> segítségével kézbesítjük. A csomag feladását követően
				elküldünk Önnek egy egyedi kódot, amellyel <u>nyomon követheti csomagját</u> a következő linken
				keresztül: <a class="underlined" href="https://www.dpd.com/tracking_hu/(lang)/hu" target="_blank">https://www.dpd.com/tracking_hu/(lang)/hu</a>
				<br>
				A kézbesítés ideje 2-10 nap, attól függően, hogy a megrendelt ruhadarab van e raktáron.
				Amennyiben nincsen raktáron, akkor akár 10 napba is telhet a kézbesítés. Ebben az esetben
				természetesen értesítjük Önt.<br>
				Magyarországon belül a szállítási költség 1200 Ft (utánvét esetén 1700 Ft), 25.000 Ft feletti vásárlás esetén INGYENES.<br>
				Ausztria: 13,89 €<br>
				Németország: 18,29 €<br>
				Egyesült Királyság: 25,49 €<br>
				Egyéb ország esetében kérjük, vegye fel velünk a kapcsolatot!<br><br>
				A szállítási díj a vásárlás véglegesítése előtt a kosár tartalmára kattintva kalkulálható.
				<br>
				<u>Országok, ahova szállítunk:</u> Magyarország, Ausztria, Németország, Egyesült Királyság. Egyéb
				ország esetében kérjük vegye fel velünk a kapcsolatot!<br><br>
				<u>A megrendelések feldolgozása és szállítási határidő</u><br>
				A megrendelések feldolgozása munkanapokon és hétvégéken 8-21 óráig történnek. A
				megrendelés feldolgozásaként megjelölt időpontokon kívül is van lehetőség a
				megrendelésre, de ha az a munkaidő lejárta után történik, csak az azt követő munkanapon
				kerül feldolgozásra a megrendelés. Az elfogadott megrendelés teljesítési határideje, a
				visszaigazolástól számítva a <b>raktáron lévő termékek esetében 2-5 munkanap.</b> Abban az
				esetben, <b>ha a termék nincs raktáron</b>, úgy a beszerzési helyétől függően <strong>1-2 hét.</strong><br>
				Cégünk nem vállal felelősséget a megrendelt termék esetleges technikai ismertetőinek a
				beszállító, vagy rajta kívül álló okok miatt történő előzetes bejelentés nélküli változása
				miatt. <br><br>
				A webáruházunk által kapott megrendeléseket kizárólag a DPD futárszolgálat futárai
				kézbesítik. A csomagok kézbesítése munkanapokon történik. Szállítási címként célszerű olyan
				címet megadni, ahol a most megjelölt napszakban a futárt folyamatosan fogadni tudják, és
				biztosítani tudják a küldemény ellenértékének és a szállítási díjnak, valamint az utánvétel
				díjának a futár részére való teljesítését.<br>
				Kizárólag abban az esetben rendelje meg a kívánt termékeket, amennyiben a csomag
				átvételekor ki tudja fizetni annak díját a futárnak. Az át nem vett, visszaküldött csomagok
				esetében a szállítás és visszaszállítás díját a megrendelőre terheljük, újraküldését kizárólag a
				csomag ellenértékének előre történő kiegyenlítése esetén áll módunkban ismételten
				elindítani.<br> 
				Áruházunk működésével, megrendelési, és szállítási folyamatával kapcsolatosan felmerülő
				esetleges további kérdések esetén az üzemeltető adatai között megadott elérhetőségeinken
				rendelkezésére állunk.<br>
				A postai küldemény elveszését, részleges elveszését, megsérülését, vagy megsemmisülését a
				kézbesítéskor, a kézbesítési okiraton azonnal jeleznie kell. Ennek elmulasztása jogvesztéssel
				jár. Kézbesítési okirat hiányában, a küldeményre vonatkozó egyéb okirattal a posta felé
				jogvesztő határidőn belül – vagyis a kézbesítési naptól számított 3 napon belül – a kárt
				azonnal jeleznie kell.
			</div>
		  </div>
		  <div ng-if="content.info=='price-and-payment'" class="w3-container links">
			<div class="w3-xlarge bold w3-center underlined">Price And Payment</div>
			<div>
				<u>Fizetés és pénznem</u><br>
				A weboldalon feltüntetett árak HUF-ban vannak megadva kivéve, ha a
				weboldal nyelvét angolra változtatja. Utóbbi esetben a valutanem EUR.
				Több lehetőség van a fizetésre: biztonságos úton PayPal-on keresztül, banki
				átutalással, illetve utánvéttel (ez esetben a megrendelés összegét az ügyfél a
				termékek kézhezvételekor fizeti ki, és valamennyi plusz költséggel jár).
				Amennyiben a banki átutalás opciót választja, e-mailen küldjük el Önnek az
				utaláshoz szükséges információkat.<br><br>
				<u>Hozzáadott érték-adó</u><br>
				A termékekre vonatkozóan megjelenített árak <strong>áfa mentesek</strong>, mivel
				vállalkozásunk adókörön kívülire van bejelentve. Az árak a házhoz szállítás
				díját nem tartalmazzák.<br><br>
				<u>Házhoz szállítás díjszabása</u><br>
				• 25.000 Ft alatti rendelés esetén 1.200 Ft Magyarország területén<br>
				• 25.000 Ft felett ingyenes. (Magyarország területén)<br>
				•További országok tekintetében, lásd a „Szállítás” menüpont alatt.<br>
				• Utánvételes megrendelés esetén a szállítási költséghez az utánvételi díj a
				rendelés értékéhez hozzáadódik.<br><br>
				<u>Egyéb információ</u><br>
				Amennyiben az üzemeltető hibás árat tüntet fel a termék mellett, a tőle
				elvárható gondosság ellenére, és a termék ára annak általánosan elfogadott
				árától eltér, úgy az üzemeltető nem köteles a terméket a hibás áron
				szolgáltatni, de köteles a megrendelés visszaigazolásában felajánlani a vásárló
				részére a valós áron történő vásárlás lehetőségét. Amennyiben a vásárló ezzel
				a lehetőséggel nem kíván élni, úgy megilleti a szerződéstől való egyoldalú
				elállás joga. Külön csomagolási költség nem kerül felszámításra. A részletes
				szállítási díjszabás a jelen szerződési feltételek része, a <u>Szállítás menüpont</u> alatt.
			</div>
		  </div>
		  <div ng-if="content.info=='returns'" class="w3-container links">
		    <div class="w3-xlarge"><b>Returns</b></div>
				<div>Az áru visszaküldésére abban az esetben van lehetőség, amennyiben a ruhadarab hordatlan
				állapotú és a rajta levő címkék is érintetlenek. A visszaküldésre 14 nap áll rendelkezésre,
				amit a kézbesítés napjától számítunk. Mielőtt visszaküldené a csomagot, kérjük vegye fel
				velünk a kapcsolatot az content.info@yati-trend.com email címen, írja meg a rendelési számát és az
				áru visszaküldésének okát. A visszaküldött terméket vagy a kicserélés szándékával
				visszaküldött termék postai költségét a vásárló viseli. A termékek vételárát csomagjának
				kézhezvételét követő néhány napon belül visszafizetjük az Ön részére (az Ön bankszámlájára
				vagy bankkártyájára).
				Nem cserélhető ki egy modell egy másik modellre, csak a méretet lehet kicserélni azonos
				modellen belül. Ha egy terméket szeretne másik modellre kicserélni, először küldje vissza az
				első terméket, majd egy új rendelésben rendelje meg a kívánt modellt.
				A megvásárolt termék visszaküldésénél minden esetben gondosan be kell csomagolni és
				csatolni kell a megfelelően kitöltött kézbesítési utasítást vagy visszaküldési
				formanyomtatványt. (csatolni ide a nyomtatványt!)

				A méret kicserélését vagy a termékek visszaküldését elvégezheti postán keresztül a
				következő címre küldve:

				Adugu-Horváth Patrícia
				2030 Érd Törökbálinti út 51.
				Magyarország

				A postai visszaküldés esetén, azt tanácsoljuk, hogy a terméket ajánlott levél formájában
				küldje.
				</div>
		  </div>
		  <div ng-if="content.info=='introduction'" class="w3-container links">
				<div class="w3-xlarge"><b>Introduction</b></div>
				A Yati-Trend (üzemeltetője: Adugu-Horváth Patrícia, egyéni vállalkozó) <strong>kizárólag online vásárlási
				szolgáltatást kínál</strong>, melynek során a vásárló a számítógépen keresztül tudja leadni rendelését.<br><br>
				Az alábbiakban áttekintheti az általános eladási feltételeket, melyek szabályozzák a termékek
				megvásárlását ezen a honlapon keresztül. Ebben az értelemben, a honlap felhasználásával Ön
				elfogadja ezeket az általános eladási feltételeket. Az általános eladási feltételek angol és magyar
				nyelven érhetőek el. Amennyiben a jelen általános eladási feltételekkel kapcsolatban bármilyen
				kérdése van, forduljon ügyfélszolgálatunkhoz (tel.: +3630 747 7044; e-mail: info@yati-trend.com)
		  </div>
		  <div ng-if="content.info=='size'" class="w3-container links">
			This is just a test
		  </div>
		  <div ng-if="content.info=='legal'" class="w3-container links">
			This is just a test
		  </div>
		  <div ng-if="content.info=='use-of-our-website'" class="w3-container links">
			<div class="w3-xlarge"><b>Use of Our Website</b></div>
			<div>A felhasználó elfogadja, hogy megfelelően használja a weboldal tartalmát. Valós és pontos
			információkat és adatokat ad meg a regisztrációs űrlapon, vagy a megrendelés megvalósításakor és az
			adatok megváltozása esetén frissíti azokat a weboldal minden alkalommal való használatakor. Nem
			fog részt venni tiltott, illegális vagy jóhiszeműséggel és a közrenddel ellentétes aktivitásokban, illetve
			nem fog terjeszteni rasszista, idegengyűlölő, faji megkülönböztetésre törekvő, nemi, ideológiai, vallási
			vagy a közerkölcs, a közrend, az alapvető jogok, a polgári szabadságjogok, a becsület, a magánéletet
			vagy a harmadik felek megjelenését, az általános előírások tartalmát sértő propagandát. Nem okoz kárt
			a fizikai és logikai rendszerbe a Yati-Trend Weboldalán vagy egy harmadik fél által nyújtott
			szolgáltatások weboldalán, és nem fog terjeszteni számítógépes vírusokat vagy egyéb más fizikai vagy
			logikai rendszereket, amelyek alkalmasak az említett jellegű károkozásra. Nem használja a weboldal
			tartalmát és az ott található információkat, hogy reklámot, vagy üzenetet küldjön, vagy egyéb
			kereskedelmi cél gyűjtésére vagy személyes adatok tárolására harmadik felek részére és nem próbál
			hozzáférni, adott esetben használni más felhasználók e-mail fiókját és nem módosítja vagy manipulálja az üzeneteiket.<br><br>

			A Yati-Trend fenntartja magának a jogot, hogy előzetes bejelentés nélkül megváltoztathassa a
			weboldal tartalmát, szintén eltávolíthatja, módosíthatja és bővítheti a tartalmat és a szolgáltatásokat,
			valamint azok megjelenését a portálon.
			</div>
		  </div>
		  <div ng-if="content.info=='property-rights'" class="w3-container links">
			<div class="w3-xlarge"><b>Property Rights</b></div>
			<div>
				Minden szellemi és ipari tulajdona a weboldalnak és annak tartalmának, beleértve a
				fényképeket, feliratokat, hangokat, audiókat, videókat, rajzokat, szövegeket, grafikákat,
				logókat, ikonokat, szín kombinációkat, struktúrákat, a gombokat, mint ahogyan a szoftvert is,
				a kereskedelmi neveket, a márkákat, vázlatokat, illusztrációkat, vagy az ipari rajzokat és az
				egyéb ipari és kereskedelmi feltüntetéseket, kizárólagosan a Yati-Trend tulajdona vagy olyan
				harmadik fél tulajdona, melyek engedélyezték használatukat a weboldalon.<br><br>
				A honlap tartalmát, a Yati-Trend előzetes engedélye nélkül, kifejezetten tilos másolni,
				továbbterjeszteni, és nyilvánosan kommunikálni, beleértve mindegyik továbbterjesztési
				módszert, legyen az kereskedelmi céllal, bármelyik médiumban, illetve egyéb technikai
				eszközzel.<br><br>
				A felhasználók vállalják, hogy tiszteletben tartják a Yati-Trend szellemi és ipari tulajdonában
				lévő jogokat. A felhasználó használhatja a weboldalt és annak tartalmát a személyes és
				magánjellegű célokra. Minden más felhasználás tilos, és szükséges egy előzetes írásos
				engedély. A felhasználó nem távolíthatja el, nem változtathatja meg és nem manipulálhatja a
				védelmi eszközöket és a weboldalra telepített biztonsági rendszert.
				<br><br>
			</div>
		  </div>
		  <div ng-if="content.info=='products-and-quality'" class="w3-container links">
			<div class="w3-xlarge bold w3-center underlined">Products And Quality</div>
			<div>
				A megrendelt termékek hibája esetén az ügyfél a Polgári Törvénykönyvről szóló 2013. évi V.
				törvény rendelkezései alapján kellékszavatossági igényt érvényesíthet a Szolgáltatóval
				szemben. A kellékszavatossági igénye érvényesítése során az <u>ügyfél kérheti a hibás termék
				kijavítását vagy kicserélését</u>, kivéve, ha a kijavítás vagy kicserélés lehetetlen, vagy a
				Szolgáltató számára aránytalan többletköltséggel járna. Ha az ügyfél a kijavítást, vagy a
				kicserélést nem kérte illetve kérhette, arányos árleszállítást igényelhet, a terméket a
				Szolgáltató költségére kijavíthatja, illetve kijavíttathatja, vagy elállhat a szerződéstől, ha a
				kijavítást vagy kicserélést a Szolgáltató nem vállalta, nem tudta elvégezni, vagy ha a
				kijavításhoz vagy kicseréléshez fűződő érdeke megszűnt. Az érdekmúlás érdemi bizonyítása
				az ügyfél kötelessége. <u>Jelentéktelen hiba miatt elállásnak nincs helye.</u> Az ügyfél a választott
				kellékszavatossági jogáról egy másikra is áttérhet, az áttérés költségét azonban viselnie kell,
				kivéve, ha az indokolt volt, vagy arra a Szolgáltató adott okot. Az ügyfél köteles a hibát annak
				felfedezése után haladéktalanul, de legkésőbb a hiba felfedezésétől számított 2 hónapon
				belül közölni. A szerződés teljesítésétől számított 2 éves elévülési határidőn túl szavatossági
				igényét már nem érvényesítheti. A teljesítéstől számított 6 hónapon belül kellékszavatossági
				igénye érvényesítésének a hiba közlésén, továbbá a számla, vagy annak másolata
				felmutatásán/megküldésén túl nincs egyéb feltétele. A teljesítéstől számított 6 hónap
				leteltét követően azonban már az ügyfél köteles bizonyítani, hogy a hiba már a teljesítés
				időpontjában megvolt.<br><br>
				Kellékszavatosság helyett az ügyfél a gyártóval vagy forgalmazóval szemben
				termékszavatossági igényt is érvényesíthet. Termékszavatosság esetén az ügyfél kizárólag a
				hibás termék kicserélését (kijavítását) igényelheti. A termék akkor hibás, ha nem felel meg a
				forgalomba hozatalakor hatályos minőségi követelményeknek, vagy ha nem rendelkezik a
				gyártó által adott leírásban foglalt tulajdonságokkal. A termék hibáját ebben az esetben az
				ügyfélnek kell bizonyítania. A termékszavatossági igény a forgalomba hozataltól számított 2
				éven belül érvényesíthető. A gyártó/forgalmazó csak akkor mentesül a termékszavatossági
				kötelezettség alól, ha bizonyítja, hogy a terméket nem üzleti tevékenysége körén belül
				gyártotta, illetve hozta forgalomba; vagy a hiba a tudomány és technika állása szerint a
				forgalomba hozatal időpontjában nem volt felismerhető; vagy a termék hibája jogszabály,
				illetve kötelező hatósági előírás alkalmazásából ered. A gyártónak/forgalmazónak elegendő
				egy okot bizonyítania.<br><br>
				Kellékszavatossági és termékszavatossági igény egyszerre, egymással párhuzamosan nem
				érvényesíthető.
			</div>
		  </div>
		  <div ng-if="content.info=='comments-and-suggestions'" class="w3-container links">
			<div class="w3-xlarge bold w3-center underlined">Comments and Suggestions</div>
				Ha bármilyen kérdése van, visszajelzése vagy javaslata, akkor küldje el észrevételeit e-mailen
				(info@yati-trend.com) keresztül vagy postán a következő címre:<br><br>
				<b>Adugu-Horváth Patrícia<br>
				Érd<br>
				Törökbálinti út 51.<br>
				2030<br>
				Magyarország</b><br><br>

				AZ Ügyfélszolgálat <u>normál díjas telefonszáma:</u> 06 30 7477 044. Elérhetőség: A hét minden
				napján 9.00 és 19.00 között.<br><br>
				Amennyiben úgy gondolja, hogy Önt mint fogyasztót megillető jogai megsértésre kerültek
				lehetősége van panaszát e-mailen vagy az Ügyfélszolgálat közölni.<br><br>
				Ezzel kapcsolatosan tájékoztatjuk Önt továbbá, hogy az Európai Bizottság egy platformot
				biztosít az online vitarendezés érdekében, amely elérhető az alábbi 
				<a href="http://ec.europa.eu/consumers/odr/." target="_blank" >linken</a>
				<br>A fogyasztók az említett platformon keresztül nyújthatják
				be követeléseiket az online vitarendezés érdekében.<br><br>
				Továbbá, lehetősége van az alábbi békéltető testülethez fordulnia:<br>
				Békéltető testület neve: <u>Pest Megyei Békéltető Testület</u><br>
				1119 Budapest, Etele út 59-61. II.em. 240.<br>
				Levelezési cím: Pest Megyei Békéltető Testület 1364 Budapest, Pf.:81<br>
				E-mail cím: pmbekelteto@pmkik.hu<br>
				Tel/Fax: 06 (1) 269-0703 vagy 06 (1) 784-3076<br><br>
				Vállalkozásunk nem veti magát alá a megnevezett békéltető testület előtti vitarendezési
				eljárásnak.<br><br>
				Felhívjuk figyelmét, hogy ne adja meg a hitelkártya adatait e-mailben, faxon vagy a szociális
				hálózatokon.<br>
		  </div>
		  <div ng-if="content.info=='contract'" class="w3-container links">
			<div ng-include="'/legal/contract-hu.html'"></div>
		  </div>
		  <div ng-show="content.info=='use-of-personal-data'" class="w3-container links">
			<div class="w3-xlarge"><b>Use Of Personal Data</b></div>
			<div ng-include="'/legal/personal-hu.html'"></div>
		  </div>
		 
			
		</div>
	</div>
	

</body>

</html>