<!DOCTYPE html>
<html lang="hu">
<head>
<title> YATI Trend | Termékek oldala</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="icon" type="image/jpeg" href="/images/logo.jpg">
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="../slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="../css/normalize.css"/>
<link rel="stylesheet" type="text/css" href="../css/common.css"/>
<link rel="stylesheet" type="text/css" href="../css/product.css"/>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131830139-1"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular-sanitize.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script type="text/javascript" src="../slick/slick.min.js"></script>
<script type="text/javascript" src="/slick/angular-slick.js"></script>

<script src="../scripts/common.js" ></script>
<script src="../scripts/shop.js" ></script>
<script src="../scripts/product_page.js" ></script>
<script src="../scripts/directives/directives.js" ></script>
</head> 

<body ng-app="myApp" ng-controller="ProductDisplay">

<header id="header_placeholder"> </header>
<div id="privacy_placeholder"></div>


<div class="w3-container">
 <div class="w3-center" style="font-size:1em">
	<span class="price-total w3-wide">25.000Ft</span> feletti vásárlás esetén Magyarországon, a kiszállítás INGYENES
</div> 
</div>
<!--Loading container to show page is loading when fetching data -->
<div ng-show="backbone.loading" class="w3-container w3-center">
	<img src="/images/loading_transparent.gif"/>
</div>
	
<div class="w3-row">
 <slick ng-if="itemInfo.Image!=null" settings="slickConfig" id="img_stage" class="w3-margin-top w3-col l8" my-image-sizer>
	<div style="overflow-y:hidden;" ng-repeat="name in itemInfo.Image.names track by $index">
		<img class="sub_image" ng-src="{{$parent.itemInfo.Image.src}}/{{name}}" style="width:100%;height:auto;margin:auto"></img>
		<!-- To prevent situation where the imgSrc is not loaded causing get errors -->
	</div>
 </slick>

 <div class="w3-container w3-col l4 " style="">
	<div id="product_title" class="w3-margin-top w3-margin-bottom w3-large "><span class="bold" style="font-size: 1.1em" ng-bind-html="itemInfo.Description[backbone.lang]"></span>
	</div>
	<div my-cost-str="itemInfo.Price[currency.toLowerCase()]"id="product_price" class="w3-margin-top w3-margin-bottom price w3-wide w3-large"></div>

	<!--Currency chooser  -->
		<div class="w3-large  w3-hide-small w3-margin-bottom">
			<span class="w3-white w3-round-large hoverable">
				<span class="button" onclick="Shop_updateCurrency('HUF')" ng-class="{'w3-tag w3-main-theme':currency=='HUF'}">HUF</span> | 
				<span class="button" onclick="Shop_updateCurrency('EUR')" ng-class="{'w3-tag w3-main-theme':currency=='EUR'}">EURO</span>
			</span>
		</div>

		<div class="w3-large w3-hide-large w3-hide-medium  w3-margin-bottom">
			<span class="w3-white w3-round-large hoverable">
				<span class="button" onclick="Shop_updateCurrency('HUF')" ng-class="{'w3-tag w3-main-theme':currency=='HUF'}">HUF</span> | 
				<span class="button" onclick="Shop_updateCurrency('EUR')" ng-class="{'w3-tag w3-main-theme':currency=='EUR'}">EURO</span>
			</span>
		</div>

	<div ng-show="itemInfo.Variants.hasVariants" class="w3-container" style="width:100%;padding:0">
		<select id="product_size" class="w3-input w3-border w3-border-black w3-left w3-large" style="width:100%"
		  ng-options="option[backbone.lang] disable when option.disable for option in variantOptions.availableOptions track by option.value"
		  ng-model="variantOptions.selectedOption">
		</select>
	</div>
	<div id="show_size_prompt" class="w3-container" ng-show="variantOptions.selectedOption.value=='default' && showPrompt" style="padding:0">
		<div class="w3-center w3-yellow  w3-margin-top w3-padding" > Kérjük válassz méretet</div>
	</div>

	<div class="w3-row w3-margin-top"  style="">
		<button ng-hide="!itemInfo.Variants.hasVariants && itemInfo.Quantity<=0" id="add_basket_button" 
			class="w3-black w3-button w3-xlarge w3-hover-black  w3-col m6 l12" ng-click="checkBasket()">Kosárba rakom</button>
		<span ng-show="!itemInfo.Variants.hasVariants && itemInfo.Quantity<=0" class="w3-text-red w3-center w3-xlarge">Nincs készleten</span>
	</div>
	<div class="w3-container w3-margin-top" id="added-prompt" style="padding:0;opacity:0">
		<div class="w3-center w3-padding w3-green w3-large">A termék a kosaradba került</div>
	</div>
	
	<div ng-controller="Accordions" ng-init="des=true;del=false;ret=false;size=false" class="w3-margin-bottom more-info">
		<div ng-click="des=!des;del=false;ret=false;size=false;" class="w3-border-bottom w3-border-black w3-padding" style="width:100%;height=auto;overflow:auto">
				<span class="w3-left w3-large w3-text-golden">Leírás</span>
				<span class="w3-right w3-large"> <i ng-show="des==false">+</i><i ng-show="des==true">-</i></span>
		<div id="description" ng-show="des==true" class="w3-margin-top"><br><span ng-bind-html="itemInfo.MainDescription[backbone.lang]"></span></div>
		</div>
		<div ng-show="itemInfo.Category!='Accessories'" ng-click="size=!size;des=false;del=false;ret=false" class="w3-border-bottom w3-border-black w3-padding" style="width:100%;height=auto;overflow:auto">
				<span class="w3-left w3-large w3-text-golden">Mérettáblázat</span>
				<span class="w3-right w3-large"> <i ng-show="size==false">+</i><i ng-show="size==true">-</i></span>
		</div>
		<div ng-show="size==true" class="w3-margin-top">
			<div style="overflow-x:auto">
				<table class="w3-table w3-striped">
				<tr><th>Méret</th><th>Testmagasság(cm)</th><th>Mell(cm)</th><th>Derék(cm)</th><th>Csípő(cm)</th></tr>
				<tr><td>S</td><td>162-168</td><td>88</td><td>66</td><td>92</td> </tr>
				<tr><td>M</td><td>166-172</td><td>92</td><td>70</td><td>96</td> </tr>
				<tr><td>L</td><td>173-176</td><td>96</td><td>74</td><td>100</td> </tr>		
				</table>
			</div>
		</div>
		<div ng-click="del=!del;des=false;ret=false;size=false;" class="w3-border-bottom w3-border-black w3-padding" style="width:100%;height=auto;overflow:auto">
				<span class="w3-left w3-large w3-text-golden">Szállítás</span>
				<span class="w3-right w3-large"> <i ng-show="del==false">+</i><i ng-show="del==true">-</i></span>
		<div ng-show="del==true" class="w3-margin-top"><br>
			A csomagokat a <u>GLS</u> futárszolgálat illetve a <u>Foxpost</u> segítségével kézbesítjük.<br><br>
			<u>Országok, ahova szállítunk:</u> Magyarország, Ausztria, Németország, Egyesült Királyság.<br>
			Egyéb ország esetében, kérjük vegye fel velünk a kapcsolatot!<br><br>
			Az elfogadott megrendelés teljesítési határideje, a visszaigazolástól számítva a <b>raktáron lévő termékek <br>
			esetében 2-5 munkanap.</b> Abban az esetben, ha a termék nincs raktáron, úgy a beszerzési helyétől <br>
			függően 1-2 hét.<br><br>

			<b>GLS</b><br>
			Házhozszállítás díja: <b>1750 Ft</b><br>
			Utánvét díja: <b>+445 Ft</b><br>

			<b>Külföldre történő szállítás:</b><br>
			- Ausztria: 17 € ~ 5415 Ft<br>
			- Németország: 19,8 € ~ 6360 Ft<br>
			- Egyesült Királyság: 22,7 € ~ 7262 Ft<br>
			Egyéb ország esetében kérjük, vegye fel velünk a kapcsolatot!
			<br><br>

			<b>Foxpost</b><br>
			Az automatába való kézbesítés díja: <b>700 Ft</b><br>
			Utánvét esetén a kezelési díj <b>+125 Ft.</b><br>
			<b><u>Fontos:</u> az automatáknál csak bankkártyával tudsz fizetni.</b>

			<br><br>
			Házhozszállítás díja: <b>1250 Ft</b><br>
			Utánvét esetén a kezelési díj <b>+125 Ft.</b><br>
		</div>
		</div>
		<div ng-click="ret=!ret;del=false;des=false;size=false;" class="w3-border-bottom w3-border-black w3-padding" style="width:100%;height=auto;overflow:auto">
				<span class="w3-left w3-large w3-text-golden">Áruvisszaküldés</span>
				<span class="w3-right w3-large"> <i ng-show="ret==false">+</i><i ng-show="ret==true">-</i></span>
		<div ng-show="ret==true" class="w3-margin-top"><br>
			A megrendelt termék kézhezvételét követően 14 nap áll rendelkezésére, hogy visszaküldjön bármely <br>
			terméket indoklás nélkül. Bármely termék, amely a 14 napos határidőn kívül érkezik vissza hozzánk,<br>
			 nem minősíthető visszáruként, így nem is cserélhetőek ki.<br><br>

			 Az áru visszaküldésére abban az esetben van lehetőség, amennyiben a ruhadarab hordatlan állapotú,<br> 
			tökéletes állapotban van, minden kiegészítője rajta van és a rajta levő eredeti címkék is érintetlenek.
			<br><br>
			3-5 napon belül értesítjük Önt a visszatérítés jóváhagyásáról vagy elutasításáról.<br>
			Amennyiben Ön jogos a visszatérítésre, a pénzösszeget banki átutalással térítjük vissza Önnek.<br>
			A visszaküldött pénzösszeg minden esetben azzal az árral egyezik meg, amennyiért Ön megvette a terméket.<br>
			Amennyiben akció során vette azt, akkor az akciós árat utaljuk vissza.<br><br>
		
		</div>
		</div>
	
	</div>
	
	
	
   </div><!--column 2-->
	
</div><!--row-->

<div class="w3-block w3-center" style="width:100%: ">
	<h1 ng-show="itemInfo.Accessories.length>0" class="w3-large bold"> Assessories with this item</h1>
	<div id="accessories">
	<div ng-repeat="x in itemInfo.Accessories" class="w3-margin-left" style="display:inline-block">
		<a href="ProductPage.html?itemId={{x.ItemId}}">
			<img style="width:100%;height:auto" ng-src="{{x.Image.src}}/img_1.jpg"></img>
		</a>
		<div my-cost-str="x.Price[currency.toLowerCase()]" class="price w3-wide"></div>
	</div>
	</div>

</div>
	

<footer ng-include="'footer.html'" class="w3-margin-top"></footer>

</body>
</html>
