<!DOCTYPE html>
<html lang="hu">
<head>
<title> Yati-Trend | Rendelés áttekintése</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
	
<link rel="icon" type="image/jpeg" href="/images/logo.jpg">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/normalize.css"/>
<link rel="stylesheet" href="/css/common.css"/>
<link rel="stylesheet" href="/css/categories.css"/>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131830139-1"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="/scripts/common.js" ></script>
<script src="/scripts/shop.js" ></script>
<script src="/scripts/review.js" ></script>
<script src="/scripts/directives/directives.js" ></script>

</head> 

<body ng-app="myApp">

<header id="header_placeholder"> </header>
<div class="w3-margin-top" ng-controller="Review" ng-init="showBank=false;">
	<div class="w3-large w3-center w3-xlarge" style="font-weight:bold">Rendelés áttekintése</div>
	<div class="w3-row">
	<div class="w3-col l6 w3-padding">
		<div ng-repeat="item in order.Items track by item.ItemId" class="w3-row w3-card toEdit w3-padding w3-margin-top" style="width: 100%; height:15vh;overflow-y:hidden;">
				<div class="w3-col s2" style="height:12vh; overflow: hidden;">
					<img class="preview_img" ng-src="{{item.Image.src}}/{{item.Image.names[0]}}"style="width:auto; height:12vh;"></img>
				</div>
				<div class="w3-display-container w3-col s10" style="height:11vh;">
					<div id="description" class="w3-display-topleft" style="width:100%;">{{item.Description[shopping.contact.lang]}}</div>
					<div ng-if="item.Variants.hasVariants" id="size" class="w3-display-left">Méret: {{item.Variants.chosenVariant}}</div>
					<div id="quantity" class="w3-display-bottomleft ">Mennyiség: {{item.Quantity}}</div>
					<div my-cost-str="item.Price[currency.toLowerCase()] * item.Quantity" id="price" class="w3-display-right price theme-color"></div>
				</div>		
		</div>
		<div class="w3-margin-top" style="font-weight: bold">Részösszeg: <span my-cost-str="order.Costs[shopping.deliveryMethod].subTotal" class="price"></span></div>
		<div ng-if="order.Discount!=null" style="font-weight: bold">Kedvezmény: <span my-cost-str="order.Costs[shopping.deliveryMethod].discount*-1" class="price"></span></div>
		<div  style="font-weight: bold">Szállítás: <span my-cost-str="order.Costs[shopping.deliveryMethod].delivery" class="price"></span></div>
		<div class="w3-xlarge" style="font-weight: bold">Végösszeg: <span my-cost-str="order.Costs[shopping.deliveryMethod].total" class="price theme-color"></span></div>
	</div>
	<div class="w3-col l6 w3-padding">	
		<div class="w3-card w3-padding w3-margin-top">
		<div class="w3-large w3-center w3-large" style="font-weight:bold">Rendelés részletei</div>
			<div>{{shopping.contact.firstName}}</div>
			<div>{{shopping.contact.email}}</div>
			<div>{{shopping.contact.number}}</div>
			
			<div class="w3-margin-top"><strong>Címzett:</strong></div>
			<div>{{shopping.contact.firstName}}</div>
			<div>{{shopping.contact.address1}}</div>
			<div ng-hide="shopping.contact.address2==''">{{shopping.contact.address2}}</div>
			<div>{{shopping.contact.city}}</div>
			<div>{{shopping.contact.postCode}}</div>
			<div>{{shopping.contact.country}}</div>
		</div>
	</div>
	</div>
	
	<div class="w3-row w3-padding"> 
	<div class="w3-col l5">
		<b>Megjegyzés: Max. hosszúság ({{temp.comments.length}}/500)</b><br>
		<textarea style="width:100%" rows="5" name="fname" ng-model="temp.comments" maxlength="500"></textarea>
	</div>
	</div>
	
	
	<div class="w3-padding">
		<div class="w3-row">
			<div id="paypal-button" class="w3-col l3 m6 w3-mobile w3-margin-top w3-white w3-round"></div>
		</div>
		<div class="w3-row" ng-show="shopping.contact.country=='Hungary' && currency=='HUF'">
			<div ng-click="backbone.showBank=true" class="w3-col l3 m6 w3-mobile w3-button w3-black  w3-margin-bottom w3-margin-top w3-padding w3-round">Banki átutalás</div>	
		</div>
		<div class="w3-row">
			<div ng-show="shopping.contact.country=='Hungary' && currency=='HUF'" ng-click="backbone.showPayLater=true" class="w3-col l3 m6 w3-mobile w3-button w3-purple  w3-margin-bottom w3-margin-top w3-padding w3-round">Utánvét</div>	
		</div>
	</div>
	
	<div class="w3-modal" ng-show="backbone.showBank==true" style="display:block;z-index:1000">
		<div class="w3-modal-content w3-animate-top w3-card-4" style="top:25vh;">
		 <span ng-click="backButtonPressed()" class="material-icons w3-large w3-display-topright" style="cursor:pointer">cancel</span>
		  <div class="w3-container" ng-show="backbone.showConfirmed==false">
			<div class="w3-medium" style="margin-top:1vh">Kérjük erősítsd meg, hogy valóban banki átutalással szeretnél fizetni. Amennyiben igen,email-en elküldjük neked az utaláshoz szükséges adatokat.
			</div>
			<a ng-click="backbone.showConfirmed=true;updatePaymentMethod('bankTransfer')" class="w3-button w3-red w3-margin-top w3-margin-bottom">Megerősítés</a>
		  </div>
		   <div class="w3-container" ng-show="backbone.showConfirmed==true">
			<div class="w3-medium" style="margin-top:1vh">Sikeresen elküldtük a banki utaláshoz szükséges adatokat a következő email címre <strong>{{shopping.contact.email}}</strong> 
			Kérjük, hogy saját érdekedben az utalást minél előbb tedd meg, hogy mi is minél hamarabb előkészíthessük és kézbesíthessük számodra a megrenelt terméket/termékeket.
			</div>
		  </div>
		</div>
	</div>
	
	<div class="w3-modal" ng-show="backbone.showPaypalReceipt==true" style="display:block;z-index:1000">
		<div class="w3-modal-content w3-animate-top w3-card-4" style="top:25vh;">
		 <span ng-click="backButtonPressed()" class="material-icons w3-large w3-display-topright" style="cursor:pointer">cancel</span>
		  <div class="w3-container">
			<div class="w3-large w3-text-green" style="font-weight:bold">Megrendelés megerősítése</div>
			<div class="w3-medium" style="margin-top:1vh">Köszönjük megrendelésed. Igyekszünk, hogy csomagod minél előbb megérkezzen hozzád.
			</div>
		  </div>
		</div>
	</div>
	
	<div class="w3-modal" ng-show="backbone.showPayLater==true" style="display:block;z-index:1000">
		<div class="w3-modal-content w3-animate-top w3-card-4" style="top:25vh;">
		 <span ng-click="backButtonPressed()" class="material-icons w3-large w3-display-topright" style="cursor:pointer">cancel</span>
		  <div class="w3-container" ng-show="backbone.showConfirmed==false">
			<div class="w3-medium" style="margin-top:1vh">Kérjük erősítsd meg, hogy valóban az utánvétes fizetést válsztod. A megerősítésről emailt kapsz tőlünk.
			Kérjük vedd figyelembe, hogy ez a fizetési mód extra költséggel jár, melynek összege <span class="price">{{order.Costs[shopping.deliveryMethod].payOnDeliveryAdditional}} Ft</span>. Ezzel az összesen fizetendő összeg
				<span my-cost-str="order.Costs[shopping.deliveryMethod].total + order.Costs[shopping.deliveryMethod].payOnDeliveryAdditional" class="price"></span>
			</div>
			<a ng-click="backbone.showConfirmed=true; updatePaymentMethod('payOnDelivery')" class="w3-button w3-red w3-margin-top w3-margin-bottom">Megerősítés</a>
		  </div>
		   <div class="w3-container" ng-show="backbone.showConfirmed==true">
			<div class="w3-medium" style="margin-top:1vh">A rendelésről a megerősítő emailt elküldtük számodra.  <strong>{{shopping.contact.email}}</strong>. Csomagodat hamarosan postázzuk.
			</div>
		  </div>
		</div>
	</div>
	
</div>




</body>
</html>
